.page-button {
  font-size: 40px;
}

.bb-bookblock {
  height: 600px;
  width: 1200px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  background-color: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  height: 5em;
  line-height: 5em;
  text-align: center;
}

i {
  color: #ccc;
  display: inline-block;
  width: 3em;
  font-style: normal;
  font-size: 24px;
  font-family: 'Lucida Grande', sans-serif;
}

i.correct {
  color: steelblue;
}


#thanks {
  font-family: 'Lucida Grande', sans-serif;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
